<div id="<%= dom_id slsale %>">
  <p>
    <strong>Salename:</strong>
    <%= slsale.salename %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= slsale.location %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= slsale.site %>
  </p>

</div>
