<div id="<%= dom_id upcomingsale %>">
  <p>
    <strong>Salename:</strong>
    <%= upcomingsale.salename %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= upcomingsale.location %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= upcomingsale.site %>
  </p>

</div>
