<h1>Editing upcomingsale</h1>

<%= render "form", upcomingsale: @upcomingsale %>

<br>

<div>
  <%= link_to "Show this sale", @upcomingsale %> |
  <%= link_to "Back to upcoming sales", upcomingsales_path %>
</div>
