<!DOCTYPE html>
<html lang="en" dir="ltr">
 
<head>
  <meta charset="utf-8">
  <title>CKG Clerk</title>
</head>
 
<body style="min-width: 590px">
<table class="calculator" id = "calculator">
    
  <tr class = "slim-pad">
    <td colspan="2" style="height:10px; padding: 5px 5px"  > <input class="display-box" type="text" id="custom" enabled /> </td>
    <td colspan="3" style="height:10px; padding: 5px 5px"  > <input class="display-box" type="text" id="current" disabled /> </td>
    <td colspan="2" id="increment" style="height:10px padding= 5px 5px"  > <input class="display-box" type="text" id="incr" disabled /> </td>
<!-- td rowspan = "11"><iframe src="https://app.singular.live/control/2x6ODGAGfLWFfmk7u3ZP31?noHeader=true" title="controller" height="800px" width="100%"></iframe> -->
    <!-- clearScreen() function clears all the values -->
    <!--td> <input type="button" class="btn" value="C" onclick="clearScreen()" id="btn" /> </td -->
  </tr>
  <tr> 
    <!-- Increment placeholder heading to label the price correctly -->
    <td colspan="2"><button class="btn" style="background-color: #ef5350" onclick="customprice('')" id ="btn">Set Custom Price</button></td>
    <td colspan="3" id ="curr"><h5>Current Price</h5></td>
    <td colspan="2" id="increment"><h5>Increment</h5></td>
  </tr>  
  <tr>
    <td colspan="7"> <input class="btn" type="button" style="background-color: #00e676; width: 100%" value="Bid" onclick="calculate()" id ="bidbtn"/> </td>
  </tr>
  <tr>
    <!-- display() function displays the value of clicked button -->
    <td> <input type="button" class="btn" value="+0.01" onclick="display('+0.01')" /> </td>
    <td> <input type="button" class="btn" value="+0.02" onclick="display('+0.02')" /> </td>
    <td> <input type="button" class="btn" value="+0.03" onclick="display('+0.03')" /> </td>
    <td> <input type="button" class="btn" value="+0.04" onclick="display('+0.04')" /> </td>
    <td> <input type="button" class="btn" value="+0.05" onclick="display('+0.05')" /> </td>
    <td> <input type="button" class="btn" value="+0.06" onclick="display('+0.06')" /> </td>
    <td colspan="1"><button class="btn" style="background-color: #ef5350" onclick="clearScreen('')" id ="calcbuttons">Clear All</button></td>
  </tr>
  <tr>
    <td> <input type="button" class="btn" value="+0.07" onclick="display('+0.07')" /> </td>
    <td> <input type="button" class="btn" value="+0.08" onclick="display('+0.08')" /> </td>
    <td> <input type="button" class="btn" value="+0.09" onclick="display('+0.09')" /> </td>
    <td> <input type="button" class="btn" value="+0.10" onclick="display('+0.10')" /> </td>
    <td> <input type="button" class="btn" value="+0.12" onclick="display('+0.12')" /> </td>
    <td> <input type="button" class="btn" value="+0.15" onclick="display('+0.15')" /> </td>
    <td colspan="1"><button class="btn" style="background-color: #ef5350" onclick="reverseincr('')" id ="calcbuttons">Undo Increment</button></td>
  </tr>
  <tr>
    <td> <input type="button" class="btn" value="+0.20" onclick="display('+0.20')" /> </td>
    <td> <input type="button" class="btn" value="+0.25" onclick="display('+0.25')" /> </td>
    <td> <input type="button" class="btn" value="+0.30" onclick="display('+0.30')" /> </td>
    <td> <input type="button" class="btn" value="+0.35" onclick="display('+0.35')" /> </td>
    <td> <input type="button" class="btn" value="+0.40" onclick="display('+0.40')" /> </td>
    <td> <input type="button" class="btn" value="+0.45" onclick="display('+0.45')" /> </td>
    <td colspan="1"><button class="btn" style="background-color: #ef5350" onclick="clearScreen('')" id ="calcbuttons">Sell</button></td>
  </tr>
  <tr>
    <td colspan="7"> <input class="btn" type="button" style="background-color: #00e676; width: 100%" value="Bid" onclick="calculate()" id ="bidbtn"/> </td>
  </tr>
  <tr>
    <td> <input type="button" class="btn" value="+0.50" onclick="display('+0.50')" /> </td>
    <td> <input type="button" class="btn" value="+0.55" onclick="display('+0.55')" /> </td>
    <td> <input type="button" class="btn" value="+0.60" onclick="display('+0.60')" /> </td>
    <td> <input type="button" class="btn" value="+0.65" onclick="display('+0.65')" /> </td>
    <td> <input type="button" class="btn" value="+0.70" onclick="display('+0.70')" /> </td>
    <td> <input type="button" class="btn" value="+0.75" onclick="display('+0.75')" /> </td>
    <td colspan="1"><button class="btn" style="background-color: #ef5350" onclick="clearScreen('')" id ="calcbuttons">Sell</button></td>
 </tr>
 <tr>
    <!-- calculate() function evaluates the mathematical expression -->
    <td> <input type="button" class="btn" value="+0.80" onclick="display('+0.80')" /> </td>
    <td> <input type="button" class="btn" value="+0.90" onclick="display('+0.90')" /> </td>
    <td> <input type="button" class="btn" value="+1.00" onclick="display('+1.00')" /> </td>
    <td> <input type="button" class="btn" value="+1.10" onclick="display('+1.10')" /> </td>
    <td> <input type="button" class="btn" value="+1.25" onclick="display('+1.25')" /> </td>
    <td> <input type="button" class="btn" value="+1.50" onclick="display('+1.50')" /> </td>
    <td colspan="1"><button class="btn" style="background-color: #ef5350" onclick="reverseincr('')" id ="calcbuttons">Undo Increment</button></td>
  </tr>
   <tr>
    <!-- calculate() function evaluates the mathematical expression -->
    <td> <input type="button" class="btn" value="+1.75" onclick="display('+6000')" /> </td>
    <td> <input type="button" class="btn" value="+2.00" onclick="display('+7500')" /> </td>
    <td> <input type="button" class="btn" value="+2.50" onclick="display('+10000')" /> </td>
    <td> <input type="button" class="btn" value="+3.00" onclick="display('+3.00')" /> </td>
    <td> <input type="button" class="btn" value="+4.00" onclick="display('+4.00')" /> </td>
    <td> <input type="button" class="btn" value="+5.00" onclick="display('+5.00')" /> </td>
    <td colspan="1"><button class="btn" style="background-color: #ef5350" onclick="clearScreen('')" id ="calcbuttons">Clear All</button></td>
  </tr>
    <tr>
    <td colspan="7"> <input class="btn" type="button" style="background-color: #00e676; width: 100%" value="Bid" onclick="calculate()" id ="bidbtn"/> </td>
  </tr>
</table>
    <table class = "lots" id="table" style="overflow-y:scroll; height:300px; display:block;">
      <thead><tr><th>Lot Description</th><th>Lot Name</th></tr></thead>
      <% @testy.each_with_index do |lot, index|%>
        <tr><td ><%= index %></td><td ><%= lot %></td><td><button class="btn-large">Display</button></td></tr>
      <% end %>
    </table>
<%= javascript_include_tag "script"%>
 
</body>
 
</html>