<div id="<%= dom_id sale %>">
  <p>
    <strong>Salename:</strong>
    <%= sale.salename %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= sale.location %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= sale.site %>
  </p>

</div>
